.container_movies {
  position: absolute;
  top: 5rem;
  height: 60rem;
  width: 100%;

  font-size: 3rem;
}
.movie_genre {
  position: absolute;
  top: 0rem;
  left: 3rem;
  font-size: 3rem;
}
.para {
  position: absolute;
  top: 5rem;
  left: 3rem;
}
.movies_arrange_container {
  position: absolute;

  overflow-x: auto;
  height: 22rem;
  width: 100%;
  top: 20rem;
  left: 1rem;
}
.movies_arrange_container::-webkit-scrollbar {
  width: 0;
}
.movies_list {
  position: absolute;
  display: grid;
  height: 10rem;
  width: 12rem;

  left: 1rem;
  top: 3rem;

  grid-template-columns: repeat(10, 1fr);
  grid-gap: 1rem;
}
.video_cover_movie {
  width: 100%;
  height: 80%;
  object-fit: cover;
  position: absolute;
  top: -12rem;
  left: 0rem;
  box-shadow: 0px 50px 150px rgb(44, 29, 29);
}
.movielist_title {
  position: absolute;
  top: 12rem;
  left: 3rem;
  font-size: 4rem;
}
.movielist_title:hover {
  transition: ease-in 0.3s;
  transition-delay: 1s;
  font-size: 2rem;
  cursor: pointer;
}

.movielist_about {
  position: absolute;
  font-size: 1.2rem;
  top: 19rem;
  width: 23rem;
  left: 3rem;
}
.list_btn_play {
  position: absolute;
  top: 28rem;
  left: 3rem;
  width: 1rem;
  border-radius: 6px;
  background-color: white;
  color: black;
  height: 3rem;
  cursor: pointer;
}
.list_btn_play p {
  position: absolute;
  top: 0.6rem;
  left: 3.5rem;
  font-size: 1.2rem;
}

.list_faplay {
  position: absolute;
  left: 1.2rem;
  top: 0.8rem;
  font-size: 1.4rem;
}
.list_btn_moreinfo {
  position: absolute;
  top: 28rem;
  left: 12rem;
  width: 10rem;
  border-radius: 6px;
  background-color: grey;
  height: 3rem;
}
.list_btn_moreinfo p {
  position: absolute;
  left: 3.3rem;
  top: 0.8rem;
  font-size: 1.1rem;
}
.list_fainfo {
  position: absolute;
  left: 1rem;
  font-size: 1.6rem;
  top: 0.8rem;
}
.btn_moreinfo:hover,
.list_btn_play:hover {
  background-color: grey;
  opacity: 0.9;
  outline: none;

  border: none;
}
.subgenre {
  position: absolute;
  border: 1px solid white;
  background-color: black;
  height: 1.6rem;
  width: 8rem;
  top: 2rem;
  left: 17rem;
}
.subgenre p {
  position: relative;
  font-size: 1rem;
  left: 1rem;
  color: white;
  font-weight: 500;
}
.fa_down {
  position: absolute;
  right: 1.5rem;
  font-size: 1.4rem;
  top: 0.2rem;
}
.subgenre:hover {
  background-color: grey;
}

section {
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  width: 30rem;
  height: 14rem;
  font-size: 1rem;
  top: 1.8rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0rem;
}
option {
  position: relative;
  top: 0.4rem;
  left: 1rem;
  font-weight: 500;
}
.video {
  position: absolute;
  top: 20rem;
}
.movie_container {
  position: absolute;
  top: 38rem;
  overflow-x: auto;
  height: 22rem;

  width: 100%;
}

.movie_container::-webkit-scrollbar {
  width: 0;
}
.movie_container h2 {
  position: absolute;
  top: 1rem;
}

.list_movie_arrange {
  position: relative;
  top: 4rem;
  left: 1rem;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 1rem;
}
.list_movies {
  position: relative;
  font-size: 2rem;

  width: 20rem;
}
.movie-image {
  position: relative;
  height: 0rem;
  width: 20rem;
}

.action_container {
  position: relative;
  top: 57rem;
  left: 0rem;
  height: 10rem;
  overflow-x: auto;
  height: 24rem;
}
.action_arrange {
  top: 4rem;
  left: 1rem;
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 1rem;
}
.action_container::-webkit-scrollbar {
  width: 0;
}
.action_container h2 {
  position: absolute;
  top: -3rem;
}

.episode_name{
  position: absolute;
  top:54rem;
  font-size: 1.4rem;
  left: 2rem;
  font-weight: 700;
}
.season_name{
  position: absolute;
  right: 10rem;
  top: 53rem;
  background-color: grey;
  height: 3rem;
  width: 10rem;
  border-radius: 6px;

}
.season_name p{
  position: absolute;
  left: 1rem;
  top: .4rem;
   font-weight: 700;
  font-size: 1.4rem;


}
