.container{
    position: absolute;
    top:5rem;
    height:60rem;
    width: 100%;
    background-color: aqua;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 3rem;
}