.video_cover {
  width: 100%;
  height: 120%;
  object-fit: cover;

  position: absolute;
  top: -4.5rem;
  box-shadow: 0px 50px 150px rgb(44, 29, 29);
}

.movietitle {
  position: absolute;
  top: 15rem;
  left: 8rem;
  height: 5rem;
  width: 12rem;

  font-size: 2.5rem;
}
.movieabout {
  position: absolute;
  top: 23rem;
  left: 8rem;
  height: 6rem;

  width: 21rem;
}
.btn_play {
  position: absolute;
  top: 30rem;
  left: 8rem;
  width: 8rem;
  border-radius: 6px;
  background-color: white;
  color: black;
  height: 3rem;
  cursor: pointer;
}
.btn_play p {
  position: absolute;
  top: 0.6rem;
  left: 3.5rem;
  font-size: 1.2rem;
}

.faplay {
  position: absolute;
  left: 1.2rem;
  top: 0.7rem;
  font-size: 1.4rem;
}
.btn_moreinfo {
  position: absolute;
  top: 30rem;
  left: 18rem;
  width: 10rem;
  border-radius: 6px;
  background-color: grey;
  height: 3rem;
}
.btn_moreinfo p {
  position: absolute;
  left: 3.3rem;
  top: 0.8rem;
  font-size: 1.1rem;
}
.fainfo {
  position: absolute;
  left: 1rem;
  font-size: 1.6rem;
  top: 0.8rem;
}
.btn_moreinfo:hover,
.btn_play:hover {
  background-color: grey;
  opacity: 0.9;
  outline: none;

  border: none;
}
@media (max-width: 700px) {
  .img_cover {
    position: absolute;
    max-width: 100%;
    top: 5rem;
    min-height: 80%;
    left: 0;
    right: 0;
  }
  .movietitle {
    top: 15rem;
    left: 3rem;
  }
  .movieabout {
    top: 25rem;
    left: 3rem;
    font-size: 1.4rem;
  }
  .btn_moreinfo {
    top: 35rem;
    left: 13rem;
  }

  .btn_play {
    top: 35rem;
    left: 3rem;
  }
}

/* ************ movies arranged**********************************/
.container_home {
  position: absolute;
  top: 35rem;
  height: 100rem;
  width: 100%;
}
.netflix_icons {
  position: relative;
  top: -11.5rem;
  font-size: 1.6rem;
  color: red;
  left: 0.3rem;
}

.movies_arrange {
  position: absolute;
  overflow-x: auto;
  height: 22rem;
  width: 100%;
  top: 0rem;
  left: 10rem;
}
.movies_arrange::-webkit-scrollbar {
  width: 0;
}
.movies_arrange,
.movies_arrange1,
h2 {
  position: relative;
  font-size: 1.5rem;
  left: 1rem;
}

.movies_arrange1 {
  position: absolute;

  overflow-x: auto;
  height: 22rem;
  width: 100%;
  top: 17rem;
  left: 1rem;
}
.movies_arrange1::-webkit-scrollbar {
  width: 0;
}

.movies {
  position: absolute;
  display: grid;
  height: 10rem;
  width: 12rem;

  left: 1rem;
  top: 3rem;

  grid-template-columns: repeat(10, 1fr);
  grid-gap: 1rem;
}

.movie-image {
  position: relative;
  top: 0rem;
  left: 0rem;
  transition: transform 0.25s ease;
  max-width: 20rem;
  min-height: 12rem;
  transition: all is ease-in-out;
  border-radius: 7px;
}
.movie-image:hover {
  opacity: 0.5;
  cursor: pointer;
}

.series_arrange {
  position: absolute;

  overflow-x: auto;
  height: 22rem;
  width: 100%;
  top: 33rem;
  left: 1rem;
}
.series_arrange::-webkit-scrollbar {
  width: 0;
}

.teens_arrange {
  position: absolute;

  overflow-x: auto;
  height: 22rem;
  width: 100%;
  top: 50rem;
  left: 1rem;
}
.teens_arrange::-webkit-scrollbar {
  width: 0;
}
.movie-image:hover,
.netflix_icons:hover {
  -webkit-transform: scale(1.5); /* or some other value */
  transform: scale(0.98);
}

.modal {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  scroll-behavior: auto;
}
.popup_movie {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  top: 1rem;
  left: 4rem;
  height: 60rem;
  width: 65rem;
  border: 2px solid rgb(58, 53, 53);
  border-radius: 7px;
  overflow-y: auto;
  scroll-behavior: auto;
}
.modal::-webkit-scrollbar {
  width: 0.8rem;
}
.modal::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 6px;
}

.modal ::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 6px;
}

.modal::-webkit-scrollbar-thumb:hover {
  background: grey;
}

.cross {
  position: absolute;
  top: 2rem;
  left: 60rem;
  background-color: black;
  color: white;
  padding: 8px;
  border-radius: 30%;
  border-width: 2px;
  font-size: 1.2rem;
}
.cross:hover {
  background-color: white;
  color: black;
}
.addtolist {
  position: absolute;
  top: 25.3rem;
  left: 11rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 8px;
  border-radius: 40%;
  font-size: 1.4rem;
}
.thumbsup {
  position: absolute;
  top: 25.3rem;
  left: 14rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 8px;
  border-radius: 40%;
  font-size: 1.4rem;
}
.addtolist:hover,
.thumbsup:hover {
  border: 1px solid white;
  cursor: pointer;
}
.pop_about {
  position: absolute;
  top: 48rem;
  height: 5rem;
  width: 24rem;
  left: 2rem;
  font-size: 1rem;
}
.pop_title {
  position: absolute;
  top: 35rem;
  font-size: 2.5rem;
  left: 2rem;
  color: white;
  font-weight: 700;
}
.pop_video {
  position: relative;
  height: 70%;
  width: 100%;

  left: 0rem;
  top: -5rem;
  box-shadow: 0px 50px 150px rgb(44, 29, 29);
}
.pop_year {
  position: absolute;
  color: grey;
  top: 40rem;
  left: 2rem;
  font-size: 1.4rem;
}
.pop_cast {
  position: absolute;
  top: 41rem;
  left: 40rem;
  height: 5rem;
  width: 20rem;
  font-size: 1rem;
}
.pop_cast p {
  position: absolute;
  color: grey;
  top: -0.2rem;
  left: -2.7rem;
  font-size: 1.2rem;
}
.watchnow {
  position: absolute;
  top: 43rem;
  left: 2rem;
  font-size: 2.3rem;
}
.pop_genre {
  position: absolute;
  top: 46rem;
  left: 41rem;
  font-size:1rem ;
}
.pop_genre p {
  position: absolute;
  color: grey;
  top: -0.2rem;
  left: -3.5rem;
  font-size: 1.2rem;
}
.pop_btn_play {
  position: absolute;
  top: 25rem;
  left: 2rem;
  width: 8rem;
  border-radius: 6px;
  background-color: white;
  color: black;
  height: 3rem;
  cursor: pointer;
}
.pop_btn_play p {
  position: absolute;
  top: 0.6rem;
  left: 3.5rem;
  font-size: 1.2rem;
}
.pop_btn_play:hover {
  background-color: grey;
  opacity: 0.9;
  outline: none;

  border: none;
}

@media (max-width: 700px) {
  .container_home {
    top: 50rem;
    left: 0rem;
  }

  .movies {
    display: grid;

    grid-template-rows: repeat(1, 1fr);
    grid-gap: 5rem;
  }
  .popup_movie {
    position: fixed;
    top: 30rem;
    height: 40rem;
    left: 1rem;
    width: 24rem;
  }
  .movie-image_popup {
    width: 25rem;
  }
  .cross {
    left: 21rem;
  }
  .pop_about {
    width: 20rem;
  }
}
